*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 70px;
    background-color: rgb(4, 4, 40);
}
/* parle logo */
.boxes-1{
    padding: 25px;
}
.box1{
    width: 120px;
    height: 25px;
}
/* header text */
.boxes-2{
    position: absolute;
    right: 20px;
    top: 25px;
    font-family: "merivaregular";
}  
.box{
     color: aliceblue;
     padding: 30px;
     cursor: pointer;
     letter-spacing: 2px;   
}
.box:hover{
    color: red;
}
.box3{
    background-color: transparent;
    border: none;
    padding: 3px;
  
}
.box4{
    background-color: transparent;
    border: none;
    padding: 3px;
}
.box5{
    background-color: transparent;
    border: none;
    padding: 3px;
}
/* first image */
.image1{
    width: 100%;
}
.section-container2{
    display: flex;
}
.container2{
    margin: -4px;
    width:50%;
    height: 2200px;
    background-color: rgb(240, 145, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2{  
    height: 500px;
}
/* leaf image */
.font1{
    color: aliceblue;
    margin-top: 20px;
    margin-left: -220px;  
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;      
}
.container3{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.font{
    margin: 50px;
    margin-top: 180px;
    margin-bottom: -160px;
    margin-left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px; 
}
.container4{ 
   display: flex;
   align-items: end;
   position: relative;
   bottom: 135px;
   right: 425px;
}
/* social media logos */
.image{
   padding: 3px;
}
/* last image */
.image3{
    width: 100%;
}
/* footer */
.footer-container{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
ul{
    list-style: none;
}
/* second column */
.container6{
    margin-left: 160px;
}
.container6 ul li{
    cursor: pointer;
}
h4 li:hover{
    color: red;
    text-decoration: underline;
}
strong:hover{
    color: red;
    text-decoration: underline;
}
/* third column */
.container7{
    margin-left: 100px;
}
strong{
    cursor: pointer;
}
/* social media logos 2 */
.images{
    margin-top: 10px;
    width: 32px;
    padding: 3px;
}
